body{
	background-color: lightgreen;

}

#container{
	background-color: lightblue;
	border: 10px solid;
	border-color: lightpink;
	padding: 20px;
}

.article{
	font-family: sans-serif;
	border: 3px solid;
	background-color: lightpink;
}